.dropdown-menu {
	background-color: #FFFFFF;
}
.dropdown-menu li{
	background-color: #FFFFFF;
}

.footer {
	text-align: center;
}

/* Fix top navigation bar */
/* .top-navbar { */
/* 	position: fixed; */
/* } */

/* .wrapper { */
/* 	margin-top: 70px; */
/* } */