<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/nursery_school?UseUnicode=true&amp;characterEncoding=utf8
<!-- 			jdbc:mysql://localhost/nursery_school -->
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="com.duke.nurseryschool.hibernate.bean.Classes" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.Course" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.ExtraFeeMap" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.ExtraFeeType" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.FeeDetails" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.FeePolicy" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.Month" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.Parent" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.Payment" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.Student" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.Subject" />
		<mapping class="com.duke.nurseryschool.hibernate.bean.SubjectFeeMap" />
	</session-factory>
</hibernate-configuration> 