h2 small,.h2 small {
	font-size: 22px;
}

.dropdown-menu {
	background-color: #FFFFFF;
}

.dropdown-menu li {
	background-color: #FFFFFF;
}

/* Centralize footer items */
.footer {
	text-align: center;
}

/* Hide some tabs */
.app-hidden {
	visibility: hidden;
}

.table th {
	color: black;
}

.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
	background-color: #C9ED84;
}

/* Animated Loading */
#dvLoading {
	background: url(../app/loader.gif) no-repeat center center;
	height: 64px;
	width: 128px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
}

/* Modal */
.modal-dialog {
	width: 1000px;
}

.modal-action{
	display: flex;
}

/* Fix top navigation bar */
/* .top-navbar { */
/* 	position: fixed; */
/* } */

/* .wrapper { */
/* 	margin-top: 70px; */
/* } */